.actual_body {
    min-height: 100vh;
    background-color: #a2caff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .sus {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42),
      inset 0 -8px 16px 0 #b9d1f1;
  }
  
  .green {
    width: 30%;
    height: 30%;
    object-fit: cover;
  }
  