.date{
  font-size: 25px;

  .date-label{
    margin: 5px;
  }
  .date-picker{
    width: 125px;
    height: 25px;
    margin: 10px;
  }

}

.time{
  font-size: 25px;

  .time-label{
    margin: 5px;
  }
  .time-picker{
    width: 125px;
    height: 25px;
    margin: 10px;
  }
}
