.booking-icon {
  width: 50px;
  height: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .car-icon {
    width: 35px;
    height: 35px;
  }

  .item-count {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    bottom: 10px;
  }
}
